<header id="malmo-masthead" role="banner" class="mf-v4">
  <div class="nav-logo">
    <a href="<%= APP_CONFIG['sv_base_url']%>"></a>
  </div>

  <div class="dropdown" id="main-nav">
    <button type="button" data-toggle="dropdown" class="m-icon-menu-0">
      <span class="text">Meny</span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-hidden="true" aria-labelledby="nav-trigger">
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>bobyggamiljo">Bo, bygga &amp; miljö</a>
      </li>
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>foretagandejobb">Företagande &amp; jobb</a>
      </li>
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>forskolautbildning">Förskola &amp; utbildning</a>
      </li>
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>kommunpolitik">Kommun &amp; politik</a>
      </li>
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>kulturfritid">Kultur &amp; fritid</a>
      </li>
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>omsorgvardstod">Omsorg, vård &amp; stöd</a>
      </li>
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>socialfamiljefragor">Social- &amp; familjefrågor</a>
      </li>
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>stadsplanering">Stadsplanering &amp; trafik</a>
      </li>
      <li>
        <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>blankettertjanster">Tjänster &amp; blanketter</a>
      </li>
    </ul>
  </div>

  <button type="button" class="m-icon-search-0" title="Sök på malmo.se" id="search-trigger"></button>

  <div id="masthead-search" class="mf-v4">
    <form action="<%= APP_CONFIG['site_search_url'] %>" method="get">
      <div class="input-group input-group-sm">
        <input name="q" class="q form-control" placeholder="Sök på malmo.se" type="text" autocapitalize="off" autocorrect="off" data-autocomplete-url="<%= APP_CONFIG['site_search_ac_url'] %>" data-images-url="<%= APP_CONFIG['site_search_url'] %>" data-caller="Masthead"/>
        <span class="input-group-btn">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input class="btn btn-default" name="" type="submit" value="Sök"/>
        </span>
      </div>
    </form>
  </div>
</header>
